h1 {
    text-align: center;
}
#obrazek {
    font-size: 50px;
    text-align: center;
    margin: 50px 50px;
    padding: 20px;
    height: 50px;
    border: 2px solid black;
}
ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 50px auto;
    padding: 10px 20px;
    justify-content: center;
}
li {
    list-style: none;
    margin: 0 10px;
}